# LangChain Core
langchain
langchain-core

# LangChain Community
langchain-community

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv
ipykernel

# LangGraph
Langgraph

# frontend
streamlit

# db
sqlite